\#README\#
\#.DS_Store\#
\#ttrtypes.py\#
.ipynb_checkpoints/ptype_learn-checkpoint.ipynb
__pycache__/ttrtypes.cpython-34.pyc
__pycache__/records.cpython-34.pyc
__pycache__/utils.cpython-34.pyc
README.md
