\#README\#
\#.DS_Store\#
\#ttrtypes.py\#
.ipynb_checkpoints/ptype_learn-checkpoint.ipynb
__pycache__/ttrtypes.cpython-34.pyc
__pycache__/records.cpython-34.pyc
__pycache__/utils.cpython-34.pyc
README.md
looking_for_dogs.ipynb
ronja_looking_for_dogs.ipynb
.ipynb_checkpoints/ronja_looking_for_dogs-checkpoint.ipynb
.ipynb_checkpoints/looking_for_dogs-checkpoint.ipynb
.ipynb_checkpoints/looking_for_dogs-checkpoint.ipynb
.ipynb_checkpoints/ttr-overview-checkpoint.ipynb
.ipynb_checkpoints/types-checkpoint.ipynb
\#utils.py\#
.ipynb_checkpoints/animat-checkpoint.ipynb
.ipynb_checkpoints/lspc-checkpoint.ipynb
__pycache__/neurons.cpython-34.pyc
__pycache__/nu.cpython-34.pyc
ttr-overview.tex
.DS_Store
.ipynb_checkpoints/nu-checkpoint.ipynb
.ipynb_checkpoints/records-checkpoint.ipynb
.ipynb_checkpoints/ttr-overview-esslli2019-checkpoint.ipynb
__pycache__/records.cpython-37.pyc
*.pyc
.ipynb_checkpoints/ttr-overview-aics2019-checkpoint.ipynb
.ipynb_checkpoints/ttr-overview-wesslli2020-checkpoint.ipynb
.ipynb_checkpoints/ttr-overview-aics2020-checkpoint.ipynb
\#probttrtypes.py#
.ipynb_checkpoints/probttr-checkpoint.ipynb
probttrtypes.py.~1~
.ipynb_checkpoints/NWFwitconds-checkpoint.ipynb
auto/probttr.el
*.~1~
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
probttr.synctex.gz
*.py#
